In [1]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.

# Pandas has been one of the most commonly used tools for Data Science and Machine learning, which is
#  used for data cleaning and analysis.

# Here, Pandas is the best tool for handling this real-world messy data. And pandas is one of the open-source 
# python packages built on top of NumPy.

# Handling data using pandas is very fast and effective by using pandas Series and data frame, these two pandas
# data structures will help you to manipulate data in various ways.

# Based on the features available in pandas we can say pandas is best for handling data. It can handle missing data,
# cleaning up the data and it supports multiple file formats. This means it can read or load data in many formats like 
# CSV, Excel, SQL, etc.,

In [2]:
# why pandas?
# => Flexibilty of Python
# => Working with big data

# Installation of Pandas
#==>> pip install pandas

In [54]:
# reading the file

import pandas as pd
df=pd.read_csv("dataset.csv")
df

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
0,1,8.75 % Prime Debenture 2085,9,870.00,853.70,870.00,180,154645.50,853.50,16.50,
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.90,822.10,844.90,123,103140.40,838.00,6.90,
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.50,503.00,542.50,70,36964.90,493.20,49.30,
3,4,Agricultural Development Bank Limited,274,330.00,319.20,321.00,28991,9361424.80,327.00,-6.00,
4,5,Ajod Insurance Limited,39,472.00,455.00,460.00,1303,598605.50,455.00,5.00,
5,6,Ankhu Khola Jalvidhyut Company Ltd,152,209.00,200.00,203.00,19846,4065566.00,203.00,0.00,
6,7,Api Power Company Ltd.,352,265.00,252.00,260.00,56754,14716489.30,255.80,4.20,
7,8,Arun Kabeli Power Ltd.,327,444.00,421.00,437.00,55236,23914684.40,427.00,10.00,
8,9,Arun Valley Hydropower Development Co. Ltd.,320,386.90,370.00,381.00,59562,22589657.70,375.00,6.00,
9,10,Asha Laghubitta Bittiya Sanstha Ltd,22,1239.00,1191.10,1234.80,548,663700.00,1215.00,19.80,
10,11,Asian Life Insurance Co. Limited,128,555.00,536.10,540.00,16838,9172823.80,546.90,-6.90,
11,12,Balephi Hydropower Limited,632,274.30,230.00,259.90,10055,2535242.00,250.00,9.90,
12,13,Barun Hydropower Co. Ltd.,105,455.80,430.00,446.00,17610,7812737.20,435.90,10.10,
13,14,Best Finance Company Ltd.,48,369.20,350.10,358.00,3714,1325770.50,355.00,3.00,
14,15,Bishal Bazar Company Limited,15,3558.00,3492.00,3500.00,170,596460.00,3425.00,75.00,
15,16,Bottlers Nepal (Terai) Limited,3,12709.90,12700.00,12700.00,30,381099.00,12460.70,239.30,
16,17,Buddha Bhumi Nepal Hydropower Company Limited,32,395.00,375.00,388.00,810,309627.00,390.00,-2.00,
17,18,Butwal Power Company Limited,84,330.00,313.00,319.00,4411,1416222.40,314.50,4.50,
18,19,CEDB Hydropower Development Company Limited,64,699.00,670.20,690.00,2625,1797648.00,677.90,12.10,
19,20,Central Finance Co. Ltd.,94,283.00,260.10,273.00,10110,2764799.00,268.00,5.00,
20,21,Century Commercial Bank Ltd.,248,197.90,190.00,193.70,44030,8547004.50,192.00,1.70,
21,22,Chandragiri Hills Limited,49,1036.50,999.00,1005.00,2298,2324804.00,1017.00,-12.00,
22,23,Chhimek Laghubitta Bittiya Sanstha Limited,219,990.00,960.00,975.00,10146,9900564.70,970.00,5.00,
23,24,Chhyangdi Hydropower Ltd.,52,277.40,269.00,273.00,5111,1388153.60,269.00,4.00,
24,25,Chilime Hydropower Company Limited,110,384.00,372.00,380.00,12656,4802774.90,379.00,1.00,
25,26,Citizen Bank International Limited,119,220.00,213.70,217.70,17539,3812563.40,216.80,0.90,
26,27,Citizen Investment Trust,133,2339.00,2285.00,2318.90,5927,13728089.00,2304.00,14.90,
27,28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11,
28,29,CITIZENS MUTUAL FUND 2,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14,
29,30,Civil Bank Ltd,315,211.00,202.00,209.00,227340,47119785.50,201.90,7.10,
30,31,Civil Laghubitta Bittiya Sanstha Ltd.,15,754.00,731.00,745.00,649,478982.70,730.00,15.00,
31,32,Corporate Development Bank Limited,67,293.00,275.00,287.00,6250,1785434.70,285.00,2.00,
32,33,Deprosc Laghubitta Bittiya Sanstha Limited,56,975.00,947.00,958.00,1746,1675254.10,945.00,13.00,
33,34,Dibyashwori Hydropower Ltd.,70,220.00,208.00,215.00,8486,1792876.00,212.00,3.00,
34,35,Emerging Nepal Limited,19,680.00,641.10,655.00,600,394755.90,654.00,1.00,
35,36,Everest Bank Limited,96,452.00,438.20,445.00,8950,3983396.00,447.00,-2.00,
36,37,Excel Development Bank Ltd.,18,353.90,347.00,353.00,1774,618558.40,347.00,6.00,
37,38,First Micro Finance Laghubitta Bittiya Sanstha...,50,632.00,616.00,623.00,3456,2148780.10,614.00,9.00,
38,39,Forward Microfinance Laghubitta Bittiya Sansth...,76,2319.00,2280.00,2307.00,2027,4666016.50,2289.00,18.00,
39,40,Ganapati Laghubitta Bittiya Sanstha Limited,26,948.90,900.00,948.90,574,523260.00,949.00,-0.10,

In [55]:
# read each columns

dff=df[["S.N.","Traded Companies","Amount"]]
dff

    S.N.                                   Traded Companies       Amount
0      1                        8.75 % Prime Debenture 2085    154645.50
1      2  Aarambha Chautari Laghubitta Bittiya Sanstha L...    103140.40
2      3       ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED     36964.90
3      4              Agricultural Development Bank Limited   9361424.80
4      5                             Ajod Insurance Limited    598605.50
5      6                 Ankhu Khola Jalvidhyut Company Ltd   4065566.00
6      7                             Api Power Company Ltd.  14716489.30
7      8                             Arun Kabeli Power Ltd.  23914684.40
8      9        Arun Valley Hydropower Development Co. Ltd.  22589657.70
9     10                Asha Laghubitta Bittiya Sanstha Ltd    663700.00
10    11                   Asian Life Insurance Co. Limited   9172823.80
11    12                         Balephi Hydropower Limited   2535242.00
12    13                          Barun Hydropower Co. Ltd.   7812737.20
13    14                          Best Finance Company Ltd.   1325770.50
14    15                       Bishal Bazar Company Limited    596460.00
15    16                     Bottlers Nepal (Terai) Limited    381099.00
16    17      Buddha Bhumi Nepal Hydropower Company Limited    309627.00
17    18                       Butwal Power Company Limited   1416222.40
18    19        CEDB Hydropower Development Company Limited   1797648.00
19    20                           Central Finance Co. Ltd.   2764799.00
20    21                       Century Commercial Bank Ltd.   8547004.50
21    22                          Chandragiri Hills Limited   2324804.00
22    23         Chhimek Laghubitta Bittiya Sanstha Limited   9900564.70
23    24                          Chhyangdi Hydropower Ltd.   1388153.60
24    25                 Chilime Hydropower Company Limited   4802774.90
25    26                 Citizen Bank International Limited   3812563.40
26    27                           Citizen Investment Trust  13728089.00
27    28                            Citizens Mutual Fund -1     14895.75
28    29                             CITIZENS MUTUAL FUND 2     14769.00
29    30                                     Civil Bank Ltd  47119785.50
30    31              Civil Laghubitta Bittiya Sanstha Ltd.    478982.70
31    32                 Corporate Development Bank Limited   1785434.70
32    33         Deprosc Laghubitta Bittiya Sanstha Limited   1675254.10
33    34                        Dibyashwori Hydropower Ltd.   1792876.00
34    35                             Emerging Nepal Limited    394755.90
35    36                               Everest Bank Limited   3983396.00
36    37                        Excel Development Bank Ltd.    618558.40
37    38  First Micro Finance Laghubitta Bittiya Sanstha...   2148780.10
38    39  Forward Microfinance Laghubitta Bittiya Sansth...   4666016.50
39    40        Ganapati Laghubitta Bittiya Sanstha Limited    523260.00

In [5]:
df.head()

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
0,1,8.75 % Prime Debenture 2085,9,870.0,853.7,870.0,180,154645.5,853.5,16.50,
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.9,822.1,844.9,123,103140.4,838.0,6.90,
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.5,503.0,542.5,70,36964.9,493.2,49.30,
3,4,Agricultural Development Bank Limited,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,
4,5,Ajod Insurance Limited,39,472.0,455.0,460.0,1303,598605.5,455.0,5.00,

In [7]:
df.head(3)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
0,1,8.75 % Prime Debenture 2085,9,870.0,853.7,870.0,180,154645.5,853.5,16.50,
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.9,822.1,844.9,123,103140.4,838.0,6.90,
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.5,503.0,542.5,70,36964.9,493.2,49.30,

In [8]:
df.tail()

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
35,36,Everest Bank Limited,96,452.0,438.2,445.0,8950,3983396.0,447.0,-2.00,
36,37,Excel Development Bank Ltd.,18,353.9,347.0,353.0,1774,618558.4,347.0,6.00,
37,38,First Micro Finance Laghubitta Bittiya Sanstha...,50,632.0,616.0,623.0,3456,2148780.1,614.0,9.00,
38,39,Forward Microfinance Laghubitta Bittiya Sansth...,76,2319.0,2280.0,2307.0,2027,4666016.5,2289.0,18.00,
39,40,Ganapati Laghubitta Bittiya Sanstha Limited,26,948.9,900.0,948.9,574,523260.0,949.0,-0.10,

In [9]:
df.tail(3)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
37,38,First Micro Finance Laghubitta Bittiya Sanstha...,50,632.0,616.0,623.0,3456,2148780.1,614.0,9.00,
38,39,Forward Microfinance Laghubitta Bittiya Sansth...,76,2319.0,2280.0,2307.0,2027,4666016.5,2289.0,18.00,
39,40,Ganapati Laghubitta Bittiya Sanstha Limited,26,948.9,900.0,948.9,574,523260.0,949.0,-0.10,

In [13]:
print(df.columns)

Index(['S.N.', 'Traded Companies', 'No. Of Transaction', 'Max Price',
       'Min Price', 'Closing Price', 'Traded Shares', 'Amount',
       'Previous Closing', 'Difference Rs.', 'Unnamed: 10'],
      dtype='object')

In [19]:
df=pd.read_csv("dataset.csv",index_col="S.N.")
df

,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
S.N.,,,,,,,,,,
1,8.75 % Prime Debenture 2085,9,870.00,853.70,870.00,180,154645.50,853.50,16.50,
2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.90,822.10,844.90,123,103140.40,838.00,6.90,
3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.50,503.00,542.50,70,36964.90,493.20,49.30,
4,Agricultural Development Bank Limited,274,330.00,319.20,321.00,28991,9361424.80,327.00,-6.00,
5,Ajod Insurance Limited,39,472.00,455.00,460.00,1303,598605.50,455.00,5.00,
6,Ankhu Khola Jalvidhyut Company Ltd,152,209.00,200.00,203.00,19846,4065566.00,203.00,0.00,
7,Api Power Company Ltd.,352,265.00,252.00,260.00,56754,14716489.30,255.80,4.20,
8,Arun Kabeli Power Ltd.,327,444.00,421.00,437.00,55236,23914684.40,427.00,10.00,
9,Arun Valley Hydropower Development Co. Ltd.,320,386.90,370.00,381.00,59562,22589657.70,375.00,6.00,
10,Asha Laghubitta Bittiya Sanstha Ltd,22,1239.00,1191.10,1234.80,548,663700.00,1215.00,19.80,
11,Asian Life Insurance Co. Limited,128,555.00,536.10,540.00,16838,9172823.80,546.90,-6.90,
12,Balephi Hydropower Limited,632,274.30,230.00,259.90,10055,2535242.00,250.00,9.90,
13,Barun Hydropower Co. Ltd.,105,455.80,430.00,446.00,17610,7812737.20,435.90,10.10,
14,Best Finance Company Ltd.,48,369.20,350.10,358.00,3714,1325770.50,355.00,3.00,
15,Bishal Bazar Company Limited,15,3558.00,3492.00,3500.00,170,596460.00,3425.00,75.00,
16,Bottlers Nepal (Terai) Limited,3,12709.90,12700.00,12700.00,30,381099.00,12460.70,239.30,
17,Buddha Bhumi Nepal Hydropower Company Limited,32,395.00,375.00,388.00,810,309627.00,390.00,-2.00,
18,Butwal Power Company Limited,84,330.00,313.00,319.00,4411,1416222.40,314.50,4.50,
19,CEDB Hydropower Development Company Limited,64,699.00,670.20,690.00,2625,1797648.00,677.90,12.10,
20,Central Finance Co. Ltd.,94,283.00,260.10,273.00,10110,2764799.00,268.00,5.00,
21,Century Commercial Bank Ltd.,248,197.90,190.00,193.70,44030,8547004.50,192.00,1.70,
22,Chandragiri Hills Limited,49,1036.50,999.00,1005.00,2298,2324804.00,1017.00,-12.00,
23,Chhimek Laghubitta Bittiya Sanstha Limited,219,990.00,960.00,975.00,10146,9900564.70,970.00,5.00,
24,Chhyangdi Hydropower Ltd.,52,277.40,269.00,273.00,5111,1388153.60,269.00,4.00,
25,Chilime Hydropower Company Limited,110,384.00,372.00,380.00,12656,4802774.90,379.00,1.00,
26,Citizen Bank International Limited,119,220.00,213.70,217.70,17539,3812563.40,216.80,0.90,
27,Citizen Investment Trust,133,2339.00,2285.00,2318.90,5927,13728089.00,2304.00,14.90,
28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11,
29,CITIZENS MUTUAL FUND 2,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14,
30,Civil Bank Ltd,315,211.00,202.00,209.00,227340,47119785.50,201.90,7.10,
31,Civil Laghubitta Bittiya Sanstha Ltd.,15,754.00,731.00,745.00,649,478982.70,730.00,15.00,
32,Corporate Development Bank Limited,67,293.00,275.00,287.00,6250,1785434.70,285.00,2.00,
33,Deprosc Laghubitta Bittiya Sanstha Limited,56,975.00,947.00,958.00,1746,1675254.10,945.00,13.00,
34,Dibyashwori Hydropower Ltd.,70,220.00,208.00,215.00,8486,1792876.00,212.00,3.00,
35,Emerging Nepal Limited,19,680.00,641.10,655.00,600,394755.90,654.00,1.00,
36,Everest Bank Limited,96,452.00,438.20,445.00,8950,3983396.00,447.00,-2.00,
37,Excel Development Bank Ltd.,18,353.90,347.00,353.00,1774,618558.40,347.00,6.00,
38,First Micro Finance Laghubitta Bittiya Sanstha...,50,632.00,616.00,623.00,3456,2148780.10,614.00,9.00,
39,Forward Microfinance Laghubitta Bittiya Sansth...,76,2319.00,2280.00,2307.00,2027,4666016.50,2289.00,18.00,
40,Ganapati Laghubitta Bittiya Sanstha Limited,26,948.90,900.00,948.90,574,523260.00,949.00,-0.10,

In [22]:
df=pd.read_csv("dataset.csv",index_col="S.N.",usecols=['S.N.','Traded Companies','No. Of Transaction','Amount'])
df

,Traded Companies,No. Of Transaction,Amount
S.N.,,,
1,8.75 % Prime Debenture 2085,9,154645.50
2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,103140.40
3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,36964.90
4,Agricultural Development Bank Limited,274,9361424.80
5,Ajod Insurance Limited,39,598605.50
6,Ankhu Khola Jalvidhyut Company Ltd,152,4065566.00
7,Api Power Company Ltd.,352,14716489.30
8,Arun Kabeli Power Ltd.,327,23914684.40
9,Arun Valley Hydropower Development Co. Ltd.,320,22589657.70
10,Asha Laghubitta Bittiya Sanstha Ltd,22,663700.00
11,Asian Life Insurance Co. Limited,128,9172823.80
12,Balephi Hydropower Limited,632,2535242.00
13,Barun Hydropower Co. Ltd.,105,7812737.20
14,Best Finance Company Ltd.,48,1325770.50
15,Bishal Bazar Company Limited,15,596460.00
16,Bottlers Nepal (Terai) Limited,3,381099.00
17,Buddha Bhumi Nepal Hydropower Company Limited,32,309627.00
18,Butwal Power Company Limited,84,1416222.40
19,CEDB Hydropower Development Company Limited,64,1797648.00
20,Central Finance Co. Ltd.,94,2764799.00
21,Century Commercial Bank Ltd.,248,8547004.50
22,Chandragiri Hills Limited,49,2324804.00
23,Chhimek Laghubitta Bittiya Sanstha Limited,219,9900564.70
24,Chhyangdi Hydropower Ltd.,52,1388153.60
25,Chilime Hydropower Company Limited,110,4802774.90
26,Citizen Bank International Limited,119,3812563.40
27,Citizen Investment Trust,133,13728089.00
28,Citizens Mutual Fund -1,3,14895.75
29,CITIZENS MUTUAL FUND 2,2,14769.00
30,Civil Bank Ltd,315,47119785.50
31,Civil Laghubitta Bittiya Sanstha Ltd.,15,478982.70
32,Corporate Development Bank Limited,67,1785434.70
33,Deprosc Laghubitta Bittiya Sanstha Limited,56,1675254.10
34,Dibyashwori Hydropower Ltd.,70,1792876.00
35,Emerging Nepal Limited,19,394755.90
36,Everest Bank Limited,96,3983396.00
37,Excel Development Bank Ltd.,18,618558.40
38,First Micro Finance Laghubitta Bittiya Sanstha...,50,2148780.10
39,Forward Microfinance Laghubitta Bittiya Sansth...,76,4666016.50
40,Ganapati Laghubitta Bittiya Sanstha Limited,26,523260.00

In [23]:
print(df['Traded Companies'][0:5])

S.N.
1                          8.75 % Prime Debenture 2085
2    Aarambha Chautari Laghubitta Bittiya Sanstha L...
3         ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED
4                Agricultural Development Bank Limited
5                               Ajod Insurance Limited
Name: Traded Companies, dtype: object

In [24]:
print(df.Amount)

S.N.
1       154645.50
2       103140.40
3        36964.90
4      9361424.80
5       598605.50
6      4065566.00
7     14716489.30
8     23914684.40
9     22589657.70
10      663700.00
11     9172823.80
12     2535242.00
13     7812737.20
14     1325770.50
15      596460.00
16      381099.00
17      309627.00
18     1416222.40
19     1797648.00
20     2764799.00
21     8547004.50
22     2324804.00
23     9900564.70
24     1388153.60
25     4802774.90
26     3812563.40
27    13728089.00
28       14895.75
29       14769.00
30    47119785.50
31      478982.70
32     1785434.70
33     1675254.10
34     1792876.00
35      394755.90
36     3983396.00
37      618558.40
38     2148780.10
39     4666016.50
40      523260.00
Name: Amount, dtype: float64

In [29]:
print(df[["Traded Companies","Amount"]])

                                       Traded Companies       Amount
S.N.
1                           8.75 % Prime Debenture 2085    154645.50
2     Aarambha Chautari Laghubitta Bittiya Sanstha L...    103140.40
3          ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED     36964.90
4                 Agricultural Development Bank Limited   9361424.80
5                                Ajod Insurance Limited    598605.50
6                    Ankhu Khola Jalvidhyut Company Ltd   4065566.00
7                                Api Power Company Ltd.  14716489.30
8                                Arun Kabeli Power Ltd.  23914684.40
9           Arun Valley Hydropower Development Co. Ltd.  22589657.70
10                  Asha Laghubitta Bittiya Sanstha Ltd    663700.00
11                     Asian Life Insurance Co. Limited   9172823.80
12                           Balephi Hydropower Limited   2535242.00
13                            Barun Hydropower Co. Ltd.   7812737.20
14                            Best Finance Company Ltd.   1325770.50
15                         Bishal Bazar Company Limited    596460.00
16                       Bottlers Nepal (Terai) Limited    381099.00
17        Buddha Bhumi Nepal Hydropower Company Limited    309627.00
18                         Butwal Power Company Limited   1416222.40
19          CEDB Hydropower Development Company Limited   1797648.00
20                             Central Finance Co. Ltd.   2764799.00
21                         Century Commercial Bank Ltd.   8547004.50
22                            Chandragiri Hills Limited   2324804.00
23           Chhimek Laghubitta Bittiya Sanstha Limited   9900564.70
24                            Chhyangdi Hydropower Ltd.   1388153.60
25                   Chilime Hydropower Company Limited   4802774.90
26                   Citizen Bank International Limited   3812563.40
27                             Citizen Investment Trust  13728089.00
28                              Citizens Mutual Fund -1     14895.75
29                               CITIZENS MUTUAL FUND 2     14769.00
30                                       Civil Bank Ltd  47119785.50
31                Civil Laghubitta Bittiya Sanstha Ltd.    478982.70
32                   Corporate Development Bank Limited   1785434.70
33           Deprosc Laghubitta Bittiya Sanstha Limited   1675254.10
34                          Dibyashwori Hydropower Ltd.   1792876.00
35                               Emerging Nepal Limited    394755.90
36                                 Everest Bank Limited   3983396.00
37                          Excel Development Bank Ltd.    618558.40
38    First Micro Finance Laghubitta Bittiya Sanstha...   2148780.10
39    Forward Microfinance Laghubitta Bittiya Sansth...   4666016.50
40          Ganapati Laghubitta Bittiya Sanstha Limited    523260.00

In [46]:
df=pd.read_csv("dataset.csv",index_col="S.N.")
df.iloc[0:10]                                       # iloc see index

,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
S.N.,,,,,,,,,,
1,8.75 % Prime Debenture 2085,9,870.0,853.7,870.0,180,154645.5,853.5,16.50,
2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.9,822.1,844.9,123,103140.4,838.0,6.90,
3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.5,503.0,542.5,70,36964.9,493.2,49.30,
4,Agricultural Development Bank Limited,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,
5,Ajod Insurance Limited,39,472.0,455.0,460.0,1303,598605.5,455.0,5.00,
6,Ankhu Khola Jalvidhyut Company Ltd,152,209.0,200.0,203.0,19846,4065566.0,203.0,0.00,
7,Api Power Company Ltd.,352,265.0,252.0,260.0,56754,14716489.3,255.8,4.20,
8,Arun Kabeli Power Ltd.,327,444.0,421.0,437.0,55236,23914684.4,427.0,10.00,
9,Arun Valley Hydropower Development Co. Ltd.,320,386.9,370.0,381.0,59562,22589657.7,375.0,6.00,
10,Asha Laghubitta Bittiya Sanstha Ltd,22,1239.0,1191.1,1234.8,548,663700.0,1215.0,19.80,

In [51]:
df=pd.read_csv("dataset.csv",index_col="S.N.")
df.iloc[0:10,0:5]                                   #0:10 for rows and 0:5 for columns

,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price
S.N.,,,,,
1,8.75 % Prime Debenture 2085,9,870.0,853.7,870.0
2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.9,822.1,844.9
3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.5,503.0,542.5
4,Agricultural Development Bank Limited,274,330.0,319.2,321.0
5,Ajod Insurance Limited,39,472.0,455.0,460.0
6,Ankhu Khola Jalvidhyut Company Ltd,152,209.0,200.0,203.0
7,Api Power Company Ltd.,352,265.0,252.0,260.0
8,Arun Kabeli Power Ltd.,327,444.0,421.0,437.0
9,Arun Valley Hydropower Development Co. Ltd.,320,386.9,370.0,381.0
10,Asha Laghubitta Bittiya Sanstha Ltd,22,1239.0,1191.1,1234.8

In [49]:
df=pd.read_csv("dataset.csv")
df.loc[1:5]                                         # index ko 1 dekhi 5 samma herxa

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.9,822.1,844.9,123,103140.4,838.0,6.90,
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.5,503.0,542.5,70,36964.9,493.2,49.30,
3,4,Agricultural Development Bank Limited,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,
4,5,Ajod Insurance Limited,39,472.0,455.0,460.0,1303,598605.5,455.0,5.00,
5,6,Ankhu Khola Jalvidhyut Company Ltd,152,209.0,200.0,203.0,19846,4065566.0,203.0,0.00,

In [50]:
df=pd.read_csv("dataset.csv",index_col="S.N.")
df.loc[1:5]                                             # sn ko value herera 1 dekhi 5 samma print garxa

,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
S.N.,,,,,,,,,,
1,8.75 % Prime Debenture 2085,9,870.0,853.7,870.0,180,154645.5,853.5,16.50,
2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.9,822.1,844.9,123,103140.4,838.0,6.90,
3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.5,503.0,542.5,70,36964.9,493.2,49.30,
4,Agricultural Development Bank Limited,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,
5,Ajod Insurance Limited,39,472.0,455.0,460.0,1303,598605.5,455.0,5.00,

In [57]:
df=pd.read_csv("dataset.csv",index_col="Traded Companies")
df.loc["8.75 % Prime Debenture 2085":"Agricultural Development Bank Limited"]

,S.N.,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
Traded Companies,,,,,,,,,,
8.75 % Prime Debenture 2085,1,9,870.0,853.7,870.0,180,154645.5,853.5,16.50,
Aarambha Chautari Laghubitta Bittiya Sanstha Limited,2,10,849.9,822.1,844.9,123,103140.4,838.0,6.90,
ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,3,8,542.5,503.0,542.5,70,36964.9,493.2,49.30,
Agricultural Development Bank Limited,4,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,

In [62]:
df["No. Of Transaction"]

Traded Companies
8.75 % Prime Debenture 2085                                  9
Aarambha Chautari Laghubitta Bittiya Sanstha Limited        10
ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED                 8
Agricultural Development Bank Limited                      274
Ajod Insurance Limited                                      39
Ankhu Khola Jalvidhyut Company Ltd                         152
Api Power Company Ltd.                                     352
Arun Kabeli Power Ltd.                                     327
Arun Valley Hydropower Development Co. Ltd.                320
Asha Laghubitta Bittiya Sanstha Ltd                         22
Asian Life Insurance Co. Limited                           128
Balephi Hydropower Limited                                 632
Barun Hydropower Co. Ltd.                                  105
Best Finance Company Ltd.                                   48
Bishal Bazar Company Limited                                15
Bottlers Nepal (Terai) Limited                               3
Buddha Bhumi Nepal Hydropower Company Limited               32
Butwal Power Company Limited                                84
CEDB Hydropower Development Company Limited                 64
Central Finance Co. Ltd.                                    94
Century Commercial Bank Ltd.                               248
Chandragiri Hills Limited                                   49
Chhimek Laghubitta Bittiya Sanstha Limited                 219
Chhyangdi Hydropower Ltd.                                   52
Chilime Hydropower Company Limited                         110
Citizen Bank International Limited                         119
Citizen Investment Trust                                   133
Citizens Mutual Fund -1                                      3
CITIZENS MUTUAL FUND 2                                       2
Civil Bank Ltd                                             315
Civil Laghubitta Bittiya Sanstha Ltd.                       15
Corporate Development Bank Limited                          67
Deprosc Laghubitta Bittiya Sanstha Limited                  56
Dibyashwori Hydropower Ltd.                                 70
Emerging Nepal Limited                                      19
Everest Bank Limited                                        96
Excel Development Bank Ltd.                                 18
First Micro Finance Laghubitta Bittiya Sanstha Limited      50
Forward Microfinance Laghubitta Bittiya Sanstha Limited     76
Ganapati Laghubitta Bittiya Sanstha Limited                 26
Name: No. Of Transaction, dtype: int64

In [63]:
df["No. Of Transaction"] > 200

Traded Companies
8.75 % Prime Debenture 2085                                False
Aarambha Chautari Laghubitta Bittiya Sanstha Limited       False
ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED               False
Agricultural Development Bank Limited                       True
Ajod Insurance Limited                                     False
Ankhu Khola Jalvidhyut Company Ltd                         False
Api Power Company Ltd.                                      True
Arun Kabeli Power Ltd.                                      True
Arun Valley Hydropower Development Co. Ltd.                 True
Asha Laghubitta Bittiya Sanstha Ltd                        False
Asian Life Insurance Co. Limited                           False
Balephi Hydropower Limited                                  True
Barun Hydropower Co. Ltd.                                  False
Best Finance Company Ltd.                                  False
Bishal Bazar Company Limited                               False
Bottlers Nepal (Terai) Limited                             False
Buddha Bhumi Nepal Hydropower Company Limited              False
Butwal Power Company Limited                               False
CEDB Hydropower Development Company Limited                False
Central Finance Co. Ltd.                                   False
Century Commercial Bank Ltd.                                True
Chandragiri Hills Limited                                  False
Chhimek Laghubitta Bittiya Sanstha Limited                  True
Chhyangdi Hydropower Ltd.                                  False
Chilime Hydropower Company Limited                         False
Citizen Bank International Limited                         False
Citizen Investment Trust                                   False
Citizens Mutual Fund -1                                    False
CITIZENS MUTUAL FUND 2                                     False
Civil Bank Ltd                                              True
Civil Laghubitta Bittiya Sanstha Ltd.                      False
Corporate Development Bank Limited                         False
Deprosc Laghubitta Bittiya Sanstha Limited                 False
Dibyashwori Hydropower Ltd.                                False
Emerging Nepal Limited                                     False
Everest Bank Limited                                       False
Excel Development Bank Ltd.                                False
First Micro Finance Laghubitta Bittiya Sanstha Limited     False
Forward Microfinance Laghubitta Bittiya Sanstha Limited    False
Ganapati Laghubitta Bittiya Sanstha Limited                False
Name: No. Of Transaction, dtype: bool

In [64]:
df[df["No. Of Transaction"]>200]

,S.N.,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
Traded Companies,,,,,,,,,,
Agricultural Development Bank Limited,4,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,
Api Power Company Ltd.,7,352,265.0,252.0,260.0,56754,14716489.3,255.8,4.20,
Arun Kabeli Power Ltd.,8,327,444.0,421.0,437.0,55236,23914684.4,427.0,10.00,
Arun Valley Hydropower Development Co. Ltd.,9,320,386.9,370.0,381.0,59562,22589657.7,375.0,6.00,
Balephi Hydropower Limited,12,632,274.3,230.0,259.9,10055,2535242.0,250.0,9.90,
Century Commercial Bank Ltd.,21,248,197.9,190.0,193.7,44030,8547004.5,192.0,1.70,
Chhimek Laghubitta Bittiya Sanstha Limited,23,219,990.0,960.0,975.0,10146,9900564.7,970.0,5.00,
Civil Bank Ltd,30,315,211.0,202.0,209.0,227340,47119785.5,201.9,7.10,

In [66]:
df[(df["No. Of Transaction"]>200) & (df["Max Price"]>300)]

,S.N.,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
Traded Companies,,,,,,,,,,
Agricultural Development Bank Limited,4,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,
Arun Kabeli Power Ltd.,8,327,444.0,421.0,437.0,55236,23914684.4,427.0,10.00,
Arun Valley Hydropower Development Co. Ltd.,9,320,386.9,370.0,381.0,59562,22589657.7,375.0,6.00,
Chhimek Laghubitta Bittiya Sanstha Limited,23,219,990.0,960.0,975.0,10146,9900564.7,970.0,5.00,

In [67]:
df.to_csv("dataset2.csv")

In [69]:
df.to_json("dataset2.json")

In [68]:
print(pd.__version__)

1.3.4

In [70]:
data = {
    "Sn":[1,2,3],
    "Share":["Nabil","NMB","Everest"],
    "Price":[20000,10000,30000]
}
data

{'Sn': [1, 2, 3],
 'Share': ['Nabil', 'NMB', 'Everest'],
 'Price': [20000, 10000, 30000]}

In [72]:
df=pd.DataFrame(data)
df

   Sn    Share  Price
0   1    Nabil  20000
1   2      NMB  10000
2   3  Everest  30000

In [73]:
df.to_csv("dataset3.csv")

In [76]:
import csv
with open("dataset3.csv") as file:
    reader=csv.DictReader(file)
    for row in reader:
        print(row)

{'': '0', 'Sn': '1', 'Share': 'Nabil', 'Price': '20000'}
{'': '1', 'Sn': '2', 'Share': 'NMB', 'Price': '10000'}
{'': '2', 'Sn': '3', 'Share': 'Everest', 'Price': '30000'}

In [81]:
import csv
file=open("dataset3.csv") 
reader=csv.DictReader(file)
for row in reader:
    print(dict(row))
file.close()

{'': '0', 'Sn': '1', 'Share': 'Nabil', 'Price': '20000'}
{'': '1', 'Sn': '2', 'Share': 'NMB', 'Price': '10000'}
{'': '2', 'Sn': '3', 'Share': 'Everest', 'Price': '30000'}

In [83]:
import csv
list=[]
with open("dataset3.csv") as file:
    reader=csv.DictReader(file)
    for row in reader:
        list.append(row)
list

[{'': '0', 'Sn': '1', 'Share': 'Nabil', 'Price': '20000'},
 {'': '1', 'Sn': '2', 'Share': 'NMB', 'Price': '10000'},
 {'': '2', 'Sn': '3', 'Share': 'Everest', 'Price': '30000'}]

In [85]:
import csv
csv_columns=['Name','Age','Address']
dict = [
    {'Name':'Aayush','Age':23,'Address':'Kathmandu'},
    {'Name':'Shyam','Age':33,'Address':'Patan'}
]
with open("dataset4.csv","w") as file:
    writer=csv.DictWriter(file, fieldnames=csv_columns)
    writer.writeheader()
    for data in dict:
        writer.writerow(data)