In [15]:
import pandas as pd
df=pd.read_csv("dataset.csv")
df.head(5)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
0,1,8.75 % Prime Debenture 2085,9,870.0,853.7,870.0,180,154645.5,853.5,16.50,
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.9,822.1,844.9,123,103140.4,838.0,6.90,
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.5,503.0,542.5,70,36964.9,493.2,49.30,
3,4,Agricultural Development Bank Limited,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,
4,5,Ajod Insurance Limited,39,472.0,455.0,460.0,1303,598605.5,455.0,5.00,

In [2]:
for index, row in df.iterrows():
    print(index,row)

0 S.N.                                                             1
Traded Companies                       8.75 % Prime Debenture 2085
No. Of Transaction                                               9
Max Price                                                    870.0
Min Price                                                    853.7
Closing Price                                                870.0
Traded Shares                                                  180
Amount                                                    154645.5
Previous Closing                                             853.5
Difference Rs.                                              16.50
Unnamed: 10
Name: 0, dtype: object
1 S.N.                                                                  2
Traded Companies      Aarambha Chautari Laghubitta Bittiya Sanstha L...
No. Of Transaction                                                   10
Max Price                                                         849.9
Min Price                                                         822.1
Closing Price                                                     844.9
Traded Shares                                                       123
Amount                                                         103140.4
Previous Closing                                                  838.0
Difference Rs.                                                    6.90
Unnamed: 10
Name: 1, dtype: object
2 S.N.                                                             3
Traded Companies      ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED
No. Of Transaction                                               8
Max Price                                                    542.5
Min Price                                                    503.0
Closing Price                                                542.5
Traded Shares                                                   70
Amount                                                     36964.9
Previous Closing                                             493.2
Difference Rs.                                              49.30
Unnamed: 10
Name: 2, dtype: object
3 S.N.                                                              4
Traded Companies              Agricultural Development Bank Limited
No. Of Transaction                                              274
Max Price                                                     330.0
Min Price                                                     319.2
Closing Price                                                 321.0
Traded Shares                                                 28991
Amount                                                    9361424.8
Previous Closing                                              327.0
Difference Rs.                                               -6.00
Unnamed: 10
Name: 3, dtype: object
4 S.N.                                                             5
Traded Companies                            Ajod Insurance Limited
No. Of Transaction                                              39
Max Price                                                    472.0
Min Price                                                    455.0
Closing Price                                                460.0
Traded Shares                                                 1303
Amount                                                    598605.5
Previous Closing                                             455.0
Difference Rs.                                               5.00
Unnamed: 10
Name: 4, dtype: object
5 S.N.                                                             6
Traded Companies                Ankhu Khola Jalvidhyut Company Ltd
No. Of Transaction                                             152
Max Price                                                    209.0
Min Price                                                    200.0
Closing Price                                                203.0
Traded Shares                                                19846
Amount                                                   4065566.0
Previous Closing                                             203.0
Difference Rs.                                               0.00
Unnamed: 10
Name: 5, dtype: object
6 S.N.                                                             7
Traded Companies                            Api Power Company Ltd.
No. Of Transaction                                             352
Max Price                                                    265.0
Min Price                                                    252.0
Closing Price                                                260.0
Traded Shares                                                56754
Amount                                                  14716489.3
Previous Closing                                             255.8
Difference Rs.                                               4.20
Unnamed: 10
Name: 6, dtype: object
7 S.N.                                                             8
Traded Companies                            Arun Kabeli Power Ltd.
No. Of Transaction                                             327
Max Price                                                    444.0
Min Price                                                    421.0
Closing Price                                                437.0
Traded Shares                                                55236
Amount                                                  23914684.4
Previous Closing                                             427.0
Difference Rs.                                              10.00
Unnamed: 10
Name: 7, dtype: object
8 S.N.                                                             9
Traded Companies       Arun Valley Hydropower Development Co. Ltd.
No. Of Transaction                                             320
Max Price                                                    386.9
Min Price                                                    370.0
Closing Price                                                381.0
Traded Shares                                                59562
Amount                                                  22589657.7
Previous Closing                                             375.0
Difference Rs.                                               6.00
Unnamed: 10
Name: 8, dtype: object
9 S.N.                                                            10
Traded Companies               Asha Laghubitta Bittiya Sanstha Ltd
No. Of Transaction                                              22
Max Price                                                   1239.0
Min Price                                                   1191.1
Closing Price                                               1234.8
Traded Shares                                                  548
Amount                                                    663700.0
Previous Closing                                            1215.0
Difference Rs.                                              19.80
Unnamed: 10
Name: 9, dtype: object
10 S.N.                                                             11
Traded Companies                   Asian Life Insurance Co. Limited
No. Of Transaction                                              128
Max Price                                                     555.0
Min Price                                                     536.1
Closing Price                                                 540.0
Traded Shares                                                 16838
Amount                                                    9172823.8
Previous Closing                                              546.9
Difference Rs.                                               -6.90
Unnamed: 10
Name: 10, dtype: object
11 S.N.                                                            12
Traded Companies                        Balephi Hydropower Limited
No. Of Transaction                                             632
Max Price                                                    274.3
Min Price                                                    230.0
Closing Price                                                259.9
Traded Shares                                                10055
Amount                                                   2535242.0
Previous Closing                                             250.0
Difference Rs.                                               9.90
Unnamed: 10
Name: 11, dtype: object
12 S.N.                                                            13
Traded Companies                         Barun Hydropower Co. Ltd.
No. Of Transaction                                             105
Max Price                                                    455.8
Min Price                                                    430.0
Closing Price                                                446.0
Traded Shares                                                17610
Amount                                                   7812737.2
Previous Closing                                             435.9
Difference Rs.                                              10.10
Unnamed: 10
Name: 12, dtype: object
13 S.N.                                                            14
Traded Companies                         Best Finance Company Ltd.
No. Of Transaction                                              48
Max Price                                                    369.2
Min Price                                                    350.1
Closing Price                                                358.0
Traded Shares                                                 3714
Amount                                                   1325770.5
Previous Closing                                             355.0
Difference Rs.                                               3.00
Unnamed: 10
Name: 13, dtype: object
14 S.N.                                                            15
Traded Companies                      Bishal Bazar Company Limited
No. Of Transaction                                              15
Max Price                                                   3558.0
Min Price                                                   3492.0
Closing Price                                               3500.0
Traded Shares                                                  170
Amount                                                    596460.0
Previous Closing                                            3425.0
Difference Rs.                                              75.00
Unnamed: 10
Name: 14, dtype: object
15 S.N.                                                            16
Traded Companies                    Bottlers Nepal (Terai) Limited
No. Of Transaction                                               3
Max Price                                                  12709.9
Min Price                                                  12700.0
Closing Price                                              12700.0
Traded Shares                                                   30
Amount                                                    381099.0
Previous Closing                                           12460.7
Difference Rs.                                             239.30
Unnamed: 10
Name: 15, dtype: object
16 S.N.                                                             17
Traded Companies      Buddha Bhumi Nepal Hydropower Company Limited
No. Of Transaction                                               32
Max Price                                                     395.0
Min Price                                                     375.0
Closing Price                                                 388.0
Traded Shares                                                   810
Amount                                                     309627.0
Previous Closing                                              390.0
Difference Rs.                                               -2.00
Unnamed: 10
Name: 16, dtype: object
17 S.N.                                                            18
Traded Companies                      Butwal Power Company Limited
No. Of Transaction                                              84
Max Price                                                    330.0
Min Price                                                    313.0
Closing Price                                                319.0
Traded Shares                                                 4411
Amount                                                   1416222.4
Previous Closing                                             314.5
Difference Rs.                                               4.50
Unnamed: 10
Name: 17, dtype: object
18 S.N.                                                            19
Traded Companies       CEDB Hydropower Development Company Limited
No. Of Transaction                                              64
Max Price                                                    699.0
Min Price                                                    670.2
Closing Price                                                690.0
Traded Shares                                                 2625
Amount                                                   1797648.0
Previous Closing                                             677.9
Difference Rs.                                              12.10
Unnamed: 10
Name: 18, dtype: object
19 S.N.                                                            20
Traded Companies                          Central Finance Co. Ltd.
No. Of Transaction                                              94
Max Price                                                    283.0
Min Price                                                    260.1
Closing Price                                                273.0
Traded Shares                                                10110
Amount                                                   2764799.0
Previous Closing                                             268.0
Difference Rs.                                               5.00
Unnamed: 10
Name: 19, dtype: object
20 S.N.                                                            21
Traded Companies                      Century Commercial Bank Ltd.
No. Of Transaction                                             248
Max Price                                                    197.9
Min Price                                                    190.0
Closing Price                                                193.7
Traded Shares                                                44030
Amount                                                   8547004.5
Previous Closing                                             192.0
Difference Rs.                                               1.70
Unnamed: 10
Name: 20, dtype: object
21 S.N.                                                             22
Traded Companies                          Chandragiri Hills Limited
No. Of Transaction                                               49
Max Price                                                    1036.5
Min Price                                                     999.0
Closing Price                                                1005.0
Traded Shares                                                  2298
Amount                                                    2324804.0
Previous Closing                                             1017.0
Difference Rs.                                              -12.00
Unnamed: 10
Name: 21, dtype: object
22 S.N.                                                            23
Traded Companies        Chhimek Laghubitta Bittiya Sanstha Limited
No. Of Transaction                                             219
Max Price                                                    990.0
Min Price                                                    960.0
Closing Price                                                975.0
Traded Shares                                                10146
Amount                                                   9900564.7
Previous Closing                                             970.0
Difference Rs.                                               5.00
Unnamed: 10
Name: 22, dtype: object
23 S.N.                                                            24
Traded Companies                         Chhyangdi Hydropower Ltd.
No. Of Transaction                                              52
Max Price                                                    277.4
Min Price                                                    269.0
Closing Price                                                273.0
Traded Shares                                                 5111
Amount                                                   1388153.6
Previous Closing                                             269.0
Difference Rs.                                               4.00
Unnamed: 10
Name: 23, dtype: object
24 S.N.                                                            25
Traded Companies                Chilime Hydropower Company Limited
No. Of Transaction                                             110
Max Price                                                    384.0
Min Price                                                    372.0
Closing Price                                                380.0
Traded Shares                                                12656
Amount                                                   4802774.9
Previous Closing                                             379.0
Difference Rs.                                               1.00
Unnamed: 10
Name: 24, dtype: object
25 S.N.                                                            26
Traded Companies                Citizen Bank International Limited
No. Of Transaction                                             119
Max Price                                                    220.0
Min Price                                                    213.7
Closing Price                                                217.7
Traded Shares                                                17539
Amount                                                   3812563.4
Previous Closing                                             216.8
Difference Rs.                                               0.90
Unnamed: 10
Name: 25, dtype: object
26 S.N.                                                            27
Traded Companies                          Citizen Investment Trust
No. Of Transaction                                             133
Max Price                                                   2339.0
Min Price                                                   2285.0
Closing Price                                               2318.9
Traded Shares                                                 5927
Amount                                                  13728089.0
Previous Closing                                            2304.0
Difference Rs.                                              14.90
Unnamed: 10
Name: 26, dtype: object
27 S.N.                                                            28
Traded Companies                           Citizens Mutual Fund -1
No. Of Transaction                                               3
Max Price                                                     8.67
Min Price                                                     8.61
Closing Price                                                 8.61
Traded Shares                                                 1725
Amount                                                    14895.75
Previous Closing                                               8.5
Difference Rs.                                               0.11
Unnamed: 10
Name: 27, dtype: object
28 S.N.                                                            29

In [3]:
for index, row in df.iterrows():
    print(index,row["Traded Companies"])

0 8.75 % Prime Debenture 2085
1 Aarambha Chautari Laghubitta Bittiya Sanstha Limited
2 ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED
3 Agricultural Development Bank Limited
4 Ajod Insurance Limited
5 Ankhu Khola Jalvidhyut Company Ltd
6 Api Power Company Ltd.
7 Arun Kabeli Power Ltd.
8 Arun Valley Hydropower Development Co. Ltd.
9 Asha Laghubitta Bittiya Sanstha Ltd
10 Asian Life Insurance Co. Limited
11 Balephi Hydropower Limited
12 Barun Hydropower Co. Ltd.
13 Best Finance Company Ltd.
14 Bishal Bazar Company Limited
15 Bottlers Nepal (Terai) Limited
16 Buddha Bhumi Nepal Hydropower Company Limited
17 Butwal Power Company Limited
18 CEDB Hydropower Development Company Limited
19 Central Finance Co. Ltd.
20 Century Commercial Bank Ltd.
21 Chandragiri Hills Limited
22 Chhimek Laghubitta Bittiya Sanstha Limited
23 Chhyangdi Hydropower Ltd.
24 Chilime Hydropower Company Limited
25 Citizen Bank International Limited
26 Citizen Investment Trust
27 Citizens Mutual Fund -1
28 CITIZENS MUTUAL FUND 2
29 Civil Bank Ltd
30 Civil Laghubitta Bittiya Sanstha Ltd.
31 Corporate Development Bank Limited
32 Deprosc Laghubitta Bittiya Sanstha Limited
33 Dibyashwori Hydropower Ltd.
34 Emerging Nepal Limited
35 Everest Bank Limited
36 Excel Development Bank Ltd.
37 First Micro Finance Laghubitta Bittiya Sanstha Limited
38 Forward Microfinance Laghubitta Bittiya Sanstha Limited
39 Ganapati Laghubitta Bittiya Sanstha Limited

In [4]:
# filtering data

df.loc[df["No. Of Transaction"]==3]

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
15,16,Bottlers Nepal (Terai) Limited,3,12709.90,12700.00,12700.00,30,381099.00,12460.7,239.30,
27,28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.5,0.11,

In [5]:
df.describe()

,S.N.,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing
count,40.000000,40.000000,40.00000,40.000000,40.000000,40.000000,4.000000e+01,40.000000
mean,20.500000,111.525000,963.47900,940.885750,953.882500,16296.750000,5.350951e+06,940.146250
std,11.690452,131.645793,2023.80837,2021.773813,2021.248193,37808.532332,8.919244e+06,1983.521574
min,1.000000,2.000000,8.67000,8.610000,8.610000,30.000000,1.476900e+04,8.500000
25%,10.750000,21.250000,281.60000,266.775000,273.000000,1179.750000,5.781600e+05,268.750000
50%,20.500000,65.500000,448.00000,425.500000,441.000000,4062.500000,1.795262e+06,431.450000
75%,30.250000,129.250000,854.92500,830.000000,851.175000,13701.500000,5.555265e+06,841.875000
max,40.000000,632.000000,12709.90000,12700.000000,12700.000000,227340.000000,4.711979e+07,12460.700000

In [6]:
df=df.sort_values("Amount", ascending=False)
df.head(15)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
29,30,Civil Bank Ltd,315,211.0,202.0,209.0,227340,47119785.5,201.9,7.10,
7,8,Arun Kabeli Power Ltd.,327,444.0,421.0,437.0,55236,23914684.4,427.0,10.00,
8,9,Arun Valley Hydropower Development Co. Ltd.,320,386.9,370.0,381.0,59562,22589657.7,375.0,6.00,
6,7,Api Power Company Ltd.,352,265.0,252.0,260.0,56754,14716489.3,255.8,4.20,
26,27,Citizen Investment Trust,133,2339.0,2285.0,2318.9,5927,13728089.0,2304.0,14.90,
22,23,Chhimek Laghubitta Bittiya Sanstha Limited,219,990.0,960.0,975.0,10146,9900564.7,970.0,5.00,
3,4,Agricultural Development Bank Limited,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00,
10,11,Asian Life Insurance Co. Limited,128,555.0,536.1,540.0,16838,9172823.8,546.9,-6.90,
20,21,Century Commercial Bank Ltd.,248,197.9,190.0,193.7,44030,8547004.5,192.0,1.70,
12,13,Barun Hydropower Co. Ltd.,105,455.8,430.0,446.0,17610,7812737.2,435.9,10.10,
24,25,Chilime Hydropower Company Limited,110,384.0,372.0,380.0,12656,4802774.9,379.0,1.00,
38,39,Forward Microfinance Laghubitta Bittiya Sansth...,76,2319.0,2280.0,2307.0,2027,4666016.5,2289.0,18.00,
5,6,Ankhu Khola Jalvidhyut Company Ltd,152,209.0,200.0,203.0,19846,4065566.0,203.0,0.00,
35,36,Everest Bank Limited,96,452.0,438.2,445.0,8950,3983396.0,447.0,-2.00,
25,26,Citizen Bank International Limited,119,220.0,213.7,217.7,17539,3812563.4,216.8,0.90,

In [7]:
df=df.sort_values("Amount",ascending=True)
df.head(8)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
28,29,CITIZENS MUTUAL FUND 2,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14,
27,28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11,
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.50,503.00,542.50,70,36964.90,493.20,49.30,
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.90,822.10,844.90,123,103140.40,838.00,6.90,
0,1,8.75 % Prime Debenture 2085,9,870.00,853.70,870.00,180,154645.50,853.50,16.50,
16,17,Buddha Bhumi Nepal Hydropower Company Limited,32,395.00,375.00,388.00,810,309627.00,390.00,-2.00,
15,16,Bottlers Nepal (Terai) Limited,3,12709.90,12700.00,12700.00,30,381099.00,12460.70,239.30,
34,35,Emerging Nepal Limited,19,680.00,641.10,655.00,600,394755.90,654.00,1.00,

In [8]:
df["Totals"]=df["No. Of Transaction"] + df["Max Price"] + df["Min Price"]
df.head(3)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10,Totals
28,29,CITIZENS MUTUAL FUND 2,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14,,20.61
27,28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11,,20.28
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.50,503.00,542.50,70,36964.90,493.20,49.30,,1053.50

In [9]:
df.head(4)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10,Totals
28,29,CITIZENS MUTUAL FUND 2,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14,,20.61
27,28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11,,20.28
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.50,503.00,542.50,70,36964.90,493.20,49.30,,1053.50
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.90,822.10,844.90,123,103140.40,838.00,6.90,,1682.00

In [10]:
dff=df.drop(columns=["Totals"])
dff.head(2)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Unnamed: 10
28,29,CITIZENS MUTUAL FUND 2,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14,
27,28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11,

In [25]:
df=dff.drop(columns=["Unnamed: 10"])
df.head(2)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
28,29,CITIZENS MUTUAL FUND 2,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14
27,28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11

In [26]:
df['Total']=df.iloc[:, 3:7].sum(axis=1)
df.head(4)

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.,Total
28,29,CITIZENS MUTUAL FUND 2,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14,1628.00
27,28,Citizens Mutual Fund -1,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11,1750.89
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,8,542.50,503.00,542.50,70,36964.90,493.20,49.30,1658.00
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,10,849.90,822.10,844.90,123,103140.40,838.00,6.90,2639.90

In [27]:
870+853.7+870+180

2773.7

In [28]:
cols=list(df.columns)
df=df[cols[0:2] + [cols[-1]] + cols[2:10]]
df.head(3)

,S.N.,Traded Companies,Total,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
28,29,CITIZENS MUTUAL FUND 2,1628.00,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14
27,28,Citizens Mutual Fund -1,1750.89,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,1658.00,8,542.50,503.00,542.50,70,36964.90,493.20,49.30

In [29]:
df.to_csv("advanced_pandas2_modified.csv",index=False)

In [30]:
# filtering data

df.loc[df["No. Of Transaction"]==3]

,S.N.,Traded Companies,Total,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
27,28,Citizens Mutual Fund -1,1750.89,3,8.67,8.61,8.61,1725,14895.75,8.5,0.11
15,16,Bottlers Nepal (Terai) Limited,38139.90,3,12709.90,12700.00,12700.00,30,381099.00,12460.7,239.30

In [31]:
df.loc[(df["No. Of Transaction"]==3) & (df["Max Price"]==200)]

Empty DataFrame
Columns: [S.N., Traded Companies, Total, No. Of Transaction, Max Price, Min Price, Closing Price, Traded Shares, Amount, Previous Closing, Difference Rs.]
Index: []

In [33]:
new_df=df.loc[df['Traded Companies'].str.contains("Bank")]
new_df

,S.N.,Traded Companies,Total,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
36,37,Excel Development Bank Ltd.,2827.9,18,353.9,347.0,353.0,1774,618558.4,347.0,6.00
31,32,Corporate Development Bank Limited,7105.0,67,293.0,275.0,287.0,6250,1785434.7,285.0,2.00
25,26,Citizen Bank International Limited,18190.4,119,220.0,213.7,217.7,17539,3812563.4,216.8,0.90
35,36,Everest Bank Limited,10285.2,96,452.0,438.2,445.0,8950,3983396.0,447.0,-2.00
20,21,Century Commercial Bank Ltd.,44611.6,248,197.9,190.0,193.7,44030,8547004.5,192.0,1.70
3,4,Agricultural Development Bank Limited,29961.2,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00
29,30,Civil Bank Ltd,227962.0,315,211.0,202.0,209.0,227340,47119785.5,201.9,7.10

In [34]:
new_df=df.loc[~df['Traded Companies'].str.contains("Bank")]
new_df

,S.N.,Traded Companies,Total,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
28,29,CITIZENS MUTUAL FUND 2,1628.00,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14
27,28,Citizens Mutual Fund -1,1750.89,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,1658.00,8,542.50,503.00,542.50,70,36964.90,493.20,49.30
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,2639.90,10,849.90,822.10,844.90,123,103140.40,838.00,6.90
0,1,8.75 % Prime Debenture 2085,2773.70,9,870.00,853.70,870.00,180,154645.50,853.50,16.50
16,17,Buddha Bhumi Nepal Hydropower Company Limited,1968.00,32,395.00,375.00,388.00,810,309627.00,390.00,-2.00
15,16,Bottlers Nepal (Terai) Limited,38139.90,3,12709.90,12700.00,12700.00,30,381099.00,12460.70,239.30
34,35,Emerging Nepal Limited,2576.10,19,680.00,641.10,655.00,600,394755.90,654.00,1.00
30,31,Civil Laghubitta Bittiya Sanstha Ltd.,2879.00,15,754.00,731.00,745.00,649,478982.70,730.00,15.00
39,40,Ganapati Laghubitta Bittiya Sanstha Limited,3371.80,26,948.90,900.00,948.90,574,523260.00,949.00,-0.10
14,15,Bishal Bazar Company Limited,10720.00,15,3558.00,3492.00,3500.00,170,596460.00,3425.00,75.00
4,5,Ajod Insurance Limited,2690.00,39,472.00,455.00,460.00,1303,598605.50,455.00,5.00
9,10,Asha Laghubitta Bittiya Sanstha Ltd,4212.90,22,1239.00,1191.10,1234.80,548,663700.00,1215.00,19.80
13,14,Best Finance Company Ltd.,4791.30,48,369.20,350.10,358.00,3714,1325770.50,355.00,3.00
23,24,Chhyangdi Hydropower Ltd.,5930.40,52,277.40,269.00,273.00,5111,1388153.60,269.00,4.00
17,18,Butwal Power Company Limited,5373.00,84,330.00,313.00,319.00,4411,1416222.40,314.50,4.50
32,33,Deprosc Laghubitta Bittiya Sanstha Limited,4626.00,56,975.00,947.00,958.00,1746,1675254.10,945.00,13.00
33,34,Dibyashwori Hydropower Ltd.,9129.00,70,220.00,208.00,215.00,8486,1792876.00,212.00,3.00
18,19,CEDB Hydropower Development Company Limited,4684.20,64,699.00,670.20,690.00,2625,1797648.00,677.90,12.10
37,38,First Micro Finance Laghubitta Bittiya Sanstha...,5327.00,50,632.00,616.00,623.00,3456,2148780.10,614.00,9.00
21,22,Chandragiri Hills Limited,5338.50,49,1036.50,999.00,1005.00,2298,2324804.00,1017.00,-12.00
11,12,Balephi Hydropower Limited,10819.20,632,274.30,230.00,259.90,10055,2535242.00,250.00,9.90
19,20,Central Finance Co. Ltd.,10926.10,94,283.00,260.10,273.00,10110,2764799.00,268.00,5.00
5,6,Ankhu Khola Jalvidhyut Company Ltd,20458.00,152,209.00,200.00,203.00,19846,4065566.00,203.00,0.00
38,39,Forward Microfinance Laghubitta Bittiya Sansth...,8933.00,76,2319.00,2280.00,2307.00,2027,4666016.50,2289.00,18.00
24,25,Chilime Hydropower Company Limited,13792.00,110,384.00,372.00,380.00,12656,4802774.90,379.00,1.00
12,13,Barun Hydropower Co. Ltd.,18941.80,105,455.80,430.00,446.00,17610,7812737.20,435.90,10.10
10,11,Asian Life Insurance Co. Limited,18469.10,128,555.00,536.10,540.00,16838,9172823.80,546.90,-6.90
22,23,Chhimek Laghubitta Bittiya Sanstha Limited,13071.00,219,990.00,960.00,975.00,10146,9900564.70,970.00,5.00
26,27,Citizen Investment Trust,12869.90,133,2339.00,2285.00,2318.90,5927,13728089.00,2304.00,14.90
6,7,Api Power Company Ltd.,57531.00,352,265.00,252.00,260.00,56754,14716489.30,255.80,4.20
8,9,Arun Valley Hydropower Development Co. Ltd.,60699.90,320,386.90,370.00,381.00,59562,22589657.70,375.00,6.00
7,8,Arun Kabeli Power Ltd.,56538.00,327,444.00,421.00,437.00,55236,23914684.40,427.00,10.00

In [39]:
import re
df.loc[df["Traded Companies"].str.contains('bank|limited',flags=re.I,regex=True)]

,S.N.,Traded Companies,Total,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
2,3,ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED,1658.0,8,542.5,503.0,542.5,70,36964.9,493.2,49.30
1,2,Aarambha Chautari Laghubitta Bittiya Sanstha L...,2639.9,10,849.9,822.1,844.9,123,103140.4,838.0,6.90
16,17,Buddha Bhumi Nepal Hydropower Company Limited,1968.0,32,395.0,375.0,388.0,810,309627.0,390.0,-2.00
15,16,Bottlers Nepal (Terai) Limited,38139.9,3,12709.9,12700.0,12700.0,30,381099.0,12460.7,239.30
34,35,Emerging Nepal Limited,2576.1,19,680.0,641.1,655.0,600,394755.9,654.0,1.00
39,40,Ganapati Laghubitta Bittiya Sanstha Limited,3371.8,26,948.9,900.0,948.9,574,523260.0,949.0,-0.10
14,15,Bishal Bazar Company Limited,10720.0,15,3558.0,3492.0,3500.0,170,596460.0,3425.0,75.00
4,5,Ajod Insurance Limited,2690.0,39,472.0,455.0,460.0,1303,598605.5,455.0,5.00
36,37,Excel Development Bank Ltd.,2827.9,18,353.9,347.0,353.0,1774,618558.4,347.0,6.00
17,18,Butwal Power Company Limited,5373.0,84,330.0,313.0,319.0,4411,1416222.4,314.5,4.50
32,33,Deprosc Laghubitta Bittiya Sanstha Limited,4626.0,56,975.0,947.0,958.0,1746,1675254.1,945.0,13.00
31,32,Corporate Development Bank Limited,7105.0,67,293.0,275.0,287.0,6250,1785434.7,285.0,2.00
18,19,CEDB Hydropower Development Company Limited,4684.2,64,699.0,670.2,690.0,2625,1797648.0,677.9,12.10
37,38,First Micro Finance Laghubitta Bittiya Sanstha...,5327.0,50,632.0,616.0,623.0,3456,2148780.1,614.0,9.00
21,22,Chandragiri Hills Limited,5338.5,49,1036.5,999.0,1005.0,2298,2324804.0,1017.0,-12.00
11,12,Balephi Hydropower Limited,10819.2,632,274.3,230.0,259.9,10055,2535242.0,250.0,9.90
25,26,Citizen Bank International Limited,18190.4,119,220.0,213.7,217.7,17539,3812563.4,216.8,0.90
35,36,Everest Bank Limited,10285.2,96,452.0,438.2,445.0,8950,3983396.0,447.0,-2.00
38,39,Forward Microfinance Laghubitta Bittiya Sansth...,8933.0,76,2319.0,2280.0,2307.0,2027,4666016.5,2289.0,18.00
24,25,Chilime Hydropower Company Limited,13792.0,110,384.0,372.0,380.0,12656,4802774.9,379.0,1.00
20,21,Century Commercial Bank Ltd.,44611.6,248,197.9,190.0,193.7,44030,8547004.5,192.0,1.70
10,11,Asian Life Insurance Co. Limited,18469.1,128,555.0,536.1,540.0,16838,9172823.8,546.9,-6.90
3,4,Agricultural Development Bank Limited,29961.2,274,330.0,319.2,321.0,28991,9361424.8,327.0,-6.00
22,23,Chhimek Laghubitta Bittiya Sanstha Limited,13071.0,219,990.0,960.0,975.0,10146,9900564.7,970.0,5.00
29,30,Civil Bank Ltd,227962.0,315,211.0,202.0,209.0,227340,47119785.5,201.9,7.10

In [41]:
import re
df.loc[df["Traded Companies"].str.contains('^Ci[a-z]*',flags=re.I,regex=True)]

,S.N.,Traded Companies,Total,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
28,29,CITIZENS MUTUAL FUND 2,1628.00,2,9.39,9.22,9.39,1600,14769.00,9.25,0.14
27,28,Citizens Mutual Fund -1,1750.89,3,8.67,8.61,8.61,1725,14895.75,8.50,0.11
30,31,Civil Laghubitta Bittiya Sanstha Ltd.,2879.00,15,754.00,731.00,745.00,649,478982.70,730.00,15.00
25,26,Citizen Bank International Limited,18190.40,119,220.00,213.70,217.70,17539,3812563.40,216.80,0.90
26,27,Citizen Investment Trust,12869.90,133,2339.00,2285.00,2318.90,5927,13728089.00,2304.00,14.90
29,30,Civil Bank Ltd,227962.00,315,211.00,202.00,209.00,227340,47119785.50,201.90,7.10